.hoverMenuList {
    position: relative;
    cursor: pointer;
  }
  .menuList {
    position: absolute;
    top: 0px;
    z-index: 999;
    left: 20px;
     visibility: hidden;
     opacity: 0;
    transform:translateX(0);
    transform-origin: top; 
  }
  
  .hoverMenuList:hover .menuList {
    background: red;
    display: block;
    z-index: 9999999;
    visibility: visible;;
    opacity: 1;
    transform:translateX(1);
    transition: all .5s cubic-bezier(0.44, 0.41, 0.63, 0.62);
  }
  